## Web scraping

In [1]:
import requests
from bs4 import BeautifulSoup

# Realizar la solicitud GET a la página web
url = 'https://ebird.org/region/world/regions?yr=BIGDAY_2023a&hsStats_sortBy=num_species&hsStats_o=desc'
response = requests.get(url)

# Crear el objeto BeautifulSoup para analizar el contenido HTML
soup = BeautifulSoup(response.content, 'html.parser')

# Encontrar los elementos que contienen los precios de los productos
bi2 = soup.find_all('span', class_='Heading Heading--h5 u-margin-none')

In [2]:
top2=list()
for i in bi2:
    top2.append(i.text)
    
print(top2)

['Colombia', 'Peru', 'Brazil', 'Ecuador', 'India', 'Bolivia', 'United States', 'Kenya', 'Venezuela', 'Argentina', 'Panama', 'Costa Rica', 'Mexico', 'Guatemala', 'Australia', 'China', 'Malaysia', 'South Africa', 'Nicaragua', 'Uganda', 'Thailand', 'Zambia', 'Honduras', 'Tanzania', 'Canada', 'Paraguay', 'Belize', 'Zimbabwe', 'Bhutan', 'Spain', 'Chile', 'Nepal', 'Türkiye', 'Taiwan', 'El Salvador', 'France', 'Kazakhstan', 'Russia', 'Bulgaria', 'Germany', 'United Kingdom', 'Mongolia', 'Uruguay', 'Indonesia', 'Portugal', 'Poland', 'Iran', 'Italy', 'Botswana', 'Greece', 'Israel', 'Sweden', 'Japan', 'Czech Republic', 'South Korea', 'Sri Lanka', 'Philippines', 'DR Congo', 'Nigeria', 'Finland', 'Netherlands', 'Guyana', 'Rwanda', 'Hungary', 'Switzerland', 'Mozambique', 'Saudi Arabia', 'Norway', 'Ukraine', 'Trinidad and Tobago', 'Cuba', 'Austria', 'Denmark', 'Hong Kong', 'Croatia', 'Malawi', 'Slovakia', 'Laos', 'Georgia', 'Serbia', 'Ireland', 'Cambodia', 'New Zealand', 'Belgium', 'French Guiana', 'Armenia', 'Lithuania', 'Puerto Rico', 'Belarus', 'Latvia', 'Romania', 'Estonia', 'Singapore', 'Bahamas', 'Brunei', 'Ethiopia', 'Bangladesh', 'United Arab Emirates', 'Namibia', 'Azerbaijan', 'Bosnia and Herzegovina', 'Dominican Republic', 'Ghana', 'Morocco', 'Kyrgyzstan', 'Iceland', 'Albania', 'Egypt', 'Isle of Man', 'Uzbekistan', 'Slovenia', 'Vietnam', 'Cayman Islands', 'Tajikistan', 'Jamaica', 'Montenegro', 'Jordan', 'Cyprus', 'Cameroon', 'Guadeloupe', 'Moldova', "Côte d'Ivoire", 'Aruba', 'Caribbean Netherlands', 'Iraq', 'Myanmar', 'Palestinian Territory', 'Luxembourg', 'Turks and Caicos Islands', 'Kuwait', 'Angola', 'Faroe Islands', 'Curaçao', 'Timor-Leste', 'Pakistan', 'Virgin Islands (U.S.)', 'Madagascar', 'Palau', 'Qatar', 'Barbados', 'Antigua and Barbuda', 'Grenada', 'Somalia', 'North Macedonia', 'Bermuda', 'Saint Kitts and Nevis', 'Saint Vincent and the Grenadines', 'Andorra', 'Anguilla', 'Cape Verde', 'Libya', 'São Tomé and Príncipe', 'Senegal', 'Montserrat', 'Oman', 'Vanuatu', 'Saint Pierre and Miquelon', 'Sint Maarten', 'Fiji', 'Saint Martin (French part)', 'Haiti', 'Gambia', 'Malta', 'Guinea-Bissau', 'Lebanon', 'Northern Mariana Islands', 'Lesotho', 'Saint Lucia', 'New Caledonia', 'Seychelles', 'South Georgia and South Sandwich Islands', 'Gibraltar', 'Mayotte', 'Guernsey', 'Sierra Leone', 'United States Minor Outlying Islands', 'Algeria', 'Papua New Guinea', 'Bahrain', 'High Seas', 'Greenland', 'Gabon', 'Falkland Islands (Malvinas)', 'Micronesia', 'Norfolk Island', 'Saint Helena, Ascension, and Tristan da Cunha', 'French Polynesia', 'Wallis and Futuna', 'Antarctica', 'Christmas Island', 'Guam', 'Saint Barthélemy', 'Solomon Islands', 'Guinea', 'Tunisia', 'Vatican City (Holy See)', 'Maldives', 'Svalbard', 'Afghanistan', 'American Samoa', 'Ashmore and Cartier Islands', 'Benin', 'Bouvet Island', 'British Indian Ocean Territory', 'Burkina Faso', 'Burundi', 'Central African Republic', 'Chad', 'Clipperton Island', 'Cocos (Keeling) Islands', 'Comoros', 'Congo', 'Cook Islands', 'Coral Sea Islands', 'Djibouti', 'Dominica', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'French Southern and Antarctic Lands', 'Heard Island and McDonald Islands', 'Jersey', 'Kiribati', 'Kosovo', 'Liberia', 'Liechtenstein', 'Macau', 'Mali', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Monaco', 'Nauru', 'Niger', 'Niue', 'North Korea', 'Pitcairn Islands', 'Réunion', 'Samoa', 'San Marino', 'South Sudan', 'Sudan', 'Suriname', 'Syria', 'Togo', 'Tokelau', 'Tonga', 'Turkmenistan', 'Tuvalu', 'Virgin Islands (British)', 'Western Sahara', 'Yemen']

In [3]:
len(top2)

253

In [4]:
# Realizar la solicitud GET a la página web
url = 'https://ebird.org/region/world/regions?yr=BIGDAY_2023a&hsStats_sortBy=num_species&hsStats_o=desc'
response = requests.get(url)

# Crear el objeto BeautifulSoup para analizar el contenido HTML
soup = BeautifulSoup(response.content, 'html.parser')

# Encontrar los elementos que contienen los precios de los productos
bi2_e = soup.find_all('td', class_='Table-cell Table-cell--statBar u-prm')

In [5]:
top2_e=list()
for i in bi2_e:
    top2_e.append(i.text)

In [6]:
#limpiamos los textos incluidos
top2_e
caracteres_a_eliminar = '\t'

tp1 = [elemento.replace(caracteres_a_eliminar, '') for elemento in top2_e]


caracteres_a_eliminar = '\n'

tp2 = [elemento.replace(caracteres_a_eliminar, '') for elemento in tp1] 
print(tp2)

['1534', '1450', '1214', '1093', '846', '821', '743', '721', '721', '710', '709', '705', '705', '529', '517', '499', '499', '495', '463', '458', '446', '432', '423', '409', '399', '395', '375', '354', '352', '326', '320', '319', '299', '275', '274', '267', '252', '251', '250', '243', '242', '239', '236', '229', '227', '226', '224', '224', '223', '220', '220', '220', '214', '213', '213', '212', '210', '209', '201', '197', '197', '192', '191', '184', '183', '181', '181', '177', '175', '173', '172', '171', '169', '166', '161', '158', '158', '155', '154', '149', '147', '144', '143', '142', '139', '138', '133', '132', '131', '130', '130', '129', '129', '127', '126', '126', '125', '125', '124', '110', '109', '108', '104', '102', '101', '99', '97', '97', '96', '92', '91', '90', '89', '89', '85', '85', '81', '77', '75', '74', '74', '73', '71', '71', '71', '68', '68', '63', '63', '62', '61', '60', '59', '59', '58', '58', '57', '56', '56', '54', '53', '49', '48', '47', '46', '46', '45', '42', '42', '41', '41', '39', '38', '35', '35', '35', '33', '32', '30', '28', '27', '26', '24', '23', '23', '23', '22', '21', '20', '20', '20', '18', '18', '17', '17', '17', '16', '16', '14', '14', '12', '11', '10', '10', '10', '10', '9', '7', '6', '6', '6', '6', '5', '4', '4', '4', '3', '3', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']

In [7]:
# Encontrar los elementos que contienen los precios de los productos
bi2_p = soup.find_all('td', class_='Table-cell Table-cell--statBar u-prm u-showForMedium')

In [8]:
top2_p=list()
for i in bi2_p:
    top2_p.append(i.text)
#limpiamos los textos incluidos
top2_p
caracteres_a_eliminar = '\t'

tp1p = [elemento.replace(caracteres_a_eliminar, '') for elemento in top2_p]

caracteres_a_eliminar = '\n'

tpp = [elemento.replace(caracteres_a_eliminar, '') for elemento in tp1p] 

caracteres_a_eliminar = ','


tp2p = [elemento.replace(caracteres_a_eliminar, '') for elemento in tpp] 
print(tp2p)

['10421', '3378', '2690', '673', '3849', '315', '79917', '254', '3380', '2762', '1482', '3376', '1551', '726', '2075', '224', '132', '277', '825', '65', '350', '229', '438', '73', '14938', '166', '416', '67', '141', '2073', '2826', '162', '278', '1864', '490', '394', '105', '261', '225', '696', '2257', '139', '273', '42', '534', '359', '95', '242', '8', '174', '197', '206', '406', '559', '119', '201', '120', '8', '37', '202', '280', '10', '28', '69', '188', '30', '83', '171', '75', '23', '247', '99', '101', '64', '58', '19', '66', '33', '76', '73', '272', '41', '953', '85', '8', '24', '38', '394', '34', '39', '26', '20', '66', '210', '1', '6', '26', '54', '6', '20', '21', '103', '11', '30', '71', '344', '8', '53', '46', '30', '12', '8', '97', '36', '29', '3', '12', '26', '5', '65', '4', '8', '15', '19', '6', '2', '4', '5', '37', '14', '1', '29', '16', '7', '4', '47', '4', '67', '15', '51', '31', '18', '1', '5', '30', '5', '27', '3', '27', '36', '4', '49', '2', '11', '4', '20', '3', '7', '7', '5', '0', '1', '3', '1', '5', '22', '1', '1', '1', '1', '1', '2', '5', '5', '4', '1', '3', '3', '1', '2', '0', '1', '1', '1', '3', '1', '2', '0', '2', '1', '1', '1', '2', '2', '1', '1', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']

In [9]:
import pandas as pd
data = {
    'Paises': top2,
    'Especies': tp2,
    'Listas': tp2p
}

df = pd.DataFrame(data)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Paises    253 non-null    object
 1   Especies  253 non-null    object
 2   Listas    253 non-null    object
dtypes: object(3)
memory usage: 6.1+ KB

In [11]:
df

                       Paises Especies Listas
0                    Colombia     1534  10421
1                        Peru     1450   3378
2                      Brazil     1214   2690
3                     Ecuador     1093    673
4                       India      846   3849
..                        ...      ...    ...
248              Turkmenistan        0      0
249                    Tuvalu        0      0
250  Virgin Islands (British)        0      0
251            Western Sahara        0      0
252                     Yemen        0      0

[253 rows x 3 columns]

In [12]:
# importar las librerias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [13]:
# visión cualitativa de los datos
from qgrid import show_grid
show_grid(df)

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [14]:
from funpymodeling.exploratory import status

status(df)

   variable  q_nan  p_nan  q_zeros  p_zeros  unique    type
0    Paises      0    0.0        0      0.0     253  object
1  Especies      0    0.0        0      0.0     151  object
2    Listas      0    0.0        0      0.0     119  object

In [15]:
df_original=df.copy()

In [16]:
#convertimos
df['Especies']=df['Especies'].astype(float)
df['Listas']=df['Listas'].astype(float)

In [17]:
status(df)

   variable  q_nan  p_nan  q_zeros   p_zeros  unique     type
0    Paises      0    0.0        0  0.000000     253   object
1  Especies      0    0.0       55  0.217391     151  float64
2    Listas      0    0.0       58  0.229249     119  float64

# Migracion de excel(csv) a python

In [18]:
#Creacion de un archivo csv
df.to_csv('Paises_bgd.csv', index=False)

In [19]:
df_1=pd.read_csv('Paises_bgd.csv')

In [20]:
df_1

                       Paises  Especies   Listas
0                    Colombia    1534.0  10421.0
1                        Peru    1450.0   3378.0
2                      Brazil    1214.0   2690.0
3                     Ecuador    1093.0    673.0
4                       India     846.0   3849.0
..                        ...       ...      ...
248              Turkmenistan       0.0      0.0
249                    Tuvalu       0.0      0.0
250  Virgin Islands (British)       0.0      0.0
251            Western Sahara       0.0      0.0
252                     Yemen       0.0      0.0

[253 rows x 3 columns]

In [21]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Paises    253 non-null    object
 1   Especies  253 non-null    float64
 2   Listas    253 non-null    float64
dtypes: float64(2), object(1)
memory usage: 6.1+ KB

## app

In [22]:
#ERROR de prueba es posible no funcionar

import dash
from dash import dcc as dcc
from dash import html as html
import plotly.express as px
import pandas as pd
import plotly.express as px

# Leer el archivo CSV y crear el DataFrame
df_1= pd.read_csv('Paises_bgd.csv')

# Crear la aplicación Dash
app = dash.Dash(__name__)

# Definir el layout del dashboard
app.layout = html.Div([
    html.H1('Dashboard de Datos'),
    dcc.Graph(
        id='grafico-1',
        figure=px.bar(df_1, x='Paises', y='Especies', title='Gráfico 1')
    ),
    dcc.Graph(
        id='grafico-2',
        figure=px.bar(df_1, x='Paises', y='Listas', title='Gráfico 2')
    ),
    # Agrega más gráficos según tus necesidades
])

# Iniciar el servidor de Dash
if __name__ == '__main__':
    app.run_server(debug=True)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__'
 * Debug mode: on

Traceback (most recent call last):
  File "/home/jose/anaconda3/envs/compu2/lib/python3.8/site-packages/ipykernel_launcher.py", line 15, in <module>
    from ipykernel import kernelapp as app
  File "/home/jose/anaconda3/envs/compu2/lib/python3.8/site-packages/ipykernel/kernelapp.py", line 18, in <module>
    from IPython.core.application import (
  File "/home/jose/anaconda3/envs/compu2/lib/python3.8/site-packages/IPython/__init__.py", line 53, in <module>
    from .terminal.embed import embed
  File "/home/jose/anaconda3/envs/compu2/lib/python3.8/site-packages/IPython/terminal/embed.py", line 16, in <module>
    from IPython.terminal.interactiveshell import TerminalInteractiveShell
  File "/home/jose/anaconda3/envs/compu2/lib/python3.8/site-packages/IPython/terminal/interactiveshell.py", line 47, in <module>
    from .debugger import TerminalPdb, Pdb
  File "/home/jose/anaconda3/envs/compu2/lib/python3.8/site-packages/IPython/terminal/debugger.py", line 6, in <module>
    from IPython.core.completer import IPCompleter
  File "/home/jose/anaconda3/envs/compu2/lib/python3.8/site-packages/IPython/core/completer.py", line 250, in <module>
    import jedi
  File "/home/jose/anaconda3/envs/compu2/lib/python3.8/site-packages/jedi/__init__.py", line 32, in <module>
    from jedi.api import Script, Interpreter, set_debug_function, preload_module
  File "/home/jose/anaconda3/envs/compu2/lib/python3.8/site-packages/jedi/api/__init__.py", line 13, in <module>
    import parso
  File "/home/jose/anaconda3/envs/compu2/lib/python3.8/site-packages/parso/__init__.py", line 42, in <module>
    from parso.grammar import Grammar, load_grammar
  File "/home/jose/anaconda3/envs/compu2/lib/python3.8/site-packages/parso/grammar.py", line 13, in <module>
    from parso.cache import parser_cache, load_module, try_to_save_module
  File "/home/jose/anaconda3/envs/compu2/lib/python3.8/site-packages/parso/cache.py", line 76, in <module>
    _default_cache_path = _get_default_cache_path()
  File "/home/jose/anaconda3/envs/compu2/lib/python3.8/site-packages/parso/cache.py", line 73, in _get_default_cache_path
    return dir_.expanduser()
AttributeError: 'PosixPath' object has no attribute 'expanduser'

SystemExit: 1

/home/jose/anaconda3/envs/compu2/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3468: UserWarning:

To exit: use 'exit', 'quit', or Ctrl-D.

# Graficos juntos

In [23]:
import pandas as pd
import plotly.graph_objects as go
import plotly.io as pio

# Crear un DataFrame de ejemplo
data = {
    'Paises': top2,
    'Especies': tp2,
    'Listas': tp2p
}
df = pd.DataFrame(data)

# Crear visualizaciones interactivas utilizando Plotly
fig = go.Figure()
fig.add_trace(go.Bar(name='Población', x=df['Paises'], y=df['Especies']))
fig.add_trace(go.Bar(name='listas', x=df['Paises'], y=df['Listas']))

fig.update_layout(
    title='Datos de la Big Global day',
    xaxis_title='Paises',
    yaxis_title='Valor',
    barmode='stack'
)

# Guardar el dashboard en un archivo HTML
pio.write_html(fig, file='dashboard.html', auto_open=True)

# Graficos separados

In [24]:
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from plotly.io import write_html
from sklearn.preprocessing import MinMaxScaler

# Crear un DataFrame de ejemplo
data = {
    'Paises': top2,
    'Especies': tp2,
    'Listas': tp2p
}
df = pd.DataFrame(data)

# Normalizar los valores en la columna 'Especies'
scaler = MinMaxScaler()
df['Especies'] = scaler.fit_transform(df['Especies'].values.reshape(-1, 1))

# Crear subplots en una sola figura
fig = make_subplots(rows=1, cols=len(df.columns)-1, subplot_titles=df.columns[1:])

# Agregar las gráficas a los subplots
for i, column in enumerate(df.columns[1:], start=1):
    fig.add_trace(go.Bar(x=df['Paises'], y=df[column]), row=1, col=i)

    # Configurar título y etiquetas de los ejes
    fig.update_xaxes(title_text='Paises', row=1, col=i)
    fig.update_yaxes(title_text='Valor', row=1, col=i)

    # Ajustar el rango del eje y
    max_value = float(df[column].max())
    fig.update_yaxes(range=[0, max_value * 1.1], row=1, col=i)

# Configurar el título del dashboard
fig.update_layout(title='Datos de la Big Global day - Dashboard')

# Guardar el dashboard en un archivo HTML
write_html(fig, file='dashboard.html', auto_open=True)